<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <title>Customer Builder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <style>
            .header_object {
                margin-left: 10px;
            }
            .container {
                text-align: left;
            }
            .button_object {
                margin-left: 10px;
            }
        </style>
    </head>
    <body class="body_class">
        <div class="header_object">
            <h1>New Customer</h1>
        </div>
        <div class="container">
            <script>
                const json_file = JSON.parse({{jsonfile|tojson|safe}});
                console.log(json_file);
                document.querySelector(".container").innerHTML = JSON.stringify(json_file, null, 2);
            </script>
        </div>
        <div class="button_object">
            <button onClick="window.location.reload();">New Customer</button>
        </div>
    </body>
</html>
